In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
# df=pd.read_csv('_chat.txt',sep='@#@#',header=None) #chat
df=pd.read_csv('_chat_flo.txt',sep='@#@#',header=None) #chat

len(df)

C:\Users\BNI\AppData\Local\Temp\ipykernel_1048\2914589366.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df=pd.read_csv('_chat_flo.txt',sep='@#@#',header=None) #chat

3799

In [3]:
df

                                                      0
0     [05/08/21 15.08.36] halodek nightingle: thanks...
1                        [05/08/21 15.10.05] atwin: yoo
2     [01/09/21 18.04.04] atwin: iya flo dari homecr...
3        [01/09/21 18.10.19] halodek nightingle: Gils üòÇ
4                      [12/09/21 17.06.43] atwin: flooo
...                                                 ...
3794  [27/03/23 15.30.57] halodek nightingle: Ini be...
3795                   [28/03/23 06.51.22] atwin: bedaa
3796                 [28/03/23 06.51.24] atwin: gym nga
3797  [28/03/23 07.59.45] halodek nightingle: Baru b...
3798  [28/03/23 19.55.25] halodek nightingle: win ch...

[3799 rows x 1 columns]

multiple line merged to the initial line as one record
(harder than i thought as >2 liners would be a problem, mandi duls ah)

In [4]:
add=''
ct=0
length=len(df[0])
df[0]=df[0].str.replace('\u200e','')
for i,row in enumerate(reversed(df[0])):
    if len(row)>=19 and (row[0] == '[' and row[18] == ']'and row[3]=='/' and row[12]=='.'):
        df[0][length-1-i]+=add
        add=''
    else:
        add+='\n'+row
        ct+=1
        df[0][length-1-i]='|was addition|'
        print(i,length-1-i,row)
      
ct

5 3793 Selamat untuk bp/ibu yg mutasi/promosi, semoga amanah dan sukses ..amin YRA..üôèüôèüôè
6 3792 12. Meiliana/PM SME sebagai¬†WPW¬†2¬†W02
7 3791 11. Mesah Roni Ginting/DGM RTL sebagai GM RTL
8 3790 10. Sri Indira/GM RTL sebagai GM CRP
9 3789 9. Teddy Wishadi/GM CRP sebagai Direktur BNI Multifinance
10 3788 8. Sandy Dwinanto/DGM HUK sebagai GM HUK
11 3787 7. Johansyah/GM HUK sebagai GM RRC
12 3786 6. Bani Iqbal/GM RRC sebagai WPW 2 W18
13 3785 5. Yenni Sari Dewi/DGM HCS sebagai GM HCS
14 3784 4. Dandy P. Sjamsudin/GM HCS sebagai GM BCV
15 3783 3. Yogi Bima Sakti/GM SCS sebagai GM ENB
16 3782 2. Rangga Bhirawa¬†Wicaksana/GM ENB sebagai GM CMB
17 3781 1. Martinus Matondang/GM CMB sebagai SCO CMB
728 3070 Be there DMA‚Äôers, because it‚Äôs time to celebrate!üíÉ
758 3040 ROWS 6 PRECEDING) AS 6MSum
759 3039 ORDER BY year, week
930 2868 - OVO & ShopeePay (gaada GOPAY) Ama: 082290806127
931 2867 - BNI Ama: 0390380223
932 2866 transfer boleh ke:
1078 2720 Aamiin Aamiin YRA ü§≤
1079 2719 dan Margie beserta keluarga senantiasa diberikan kekuatan, tabah dan ikhlas.
1080 2718 Teriring doa semoga mendapatkan tempat terbaik di sisi Nya,
1081 2717 Turut berduka cita yang mendalam atas berpulangnya ananda Orlando, putra tercinta dari rekan kita mba Margie, pada pagi hari ini.
1274 2524 GROUP BY 1
1275 2523 FROM PRD_EDW_RPT_MR_TB.S_PMS_A_LOAN_CKPN_MONTHLY_V3
1276 2522 , SUM(ckpn_bulanan) OVER(ORDER BY tanggal ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS ckpn_ytd
1277 2521 , SUM(TOTAL_CKPN) AS ckpn_bulanan
1286 2512 GROUP BY 1
1287 2511 FROM PRD_EDW_RPT_MR_TB.S_PMS_A_LOAN_CKPN_MONTHLY_V3
1288 2510 , SUM(TOTAL_CKPN) AS TOTAL_CKPN
1535 2263 Trus ada liquidity mgmt, user mgmt, transaction history, dan maybe ada report buat supporting features
1536 2262 Maen AE sama CT as fitur utamanya
1542 2256 Baru nnti bank sponsornya transfer dana ke rekening BI-FASTnya si PTL
1548 2250 2. Peserta Tidak Langsung
1553 2245 2. SKNBI
1554 2244 1. RTGS
2469 1329 ORDER BY cif_key, id_number
2470 1328 GROUP BY 1,2
2471 1327 ) a
2472 1326 ORDER BY cif_key, id_number, dpk.as_of_date
2473 1325 GROUP BY dpk.cif_key, dpk.id_number, dpk.as_of_date
2474 1324 AND dpk.gl_account_id IN (210001, 210011)
2475 1323 WHERE TRIM(dpk.as_of_date) BETWEEN '20211001' AND '20211231'
2476 1322 ON cast(dpk.cif_key as BIGINT) = cast(cus.cif_key as BIGINT)
2477 1321 AND TRIM(cus.as_of_date) = '20211231') cus
2478 1320 WHERE cus.cus_type IN (2,3,4)
2479 1319 FROM prd_vr_datalake.vr_101_111_customer cus
2480 1318 DISTINCT cus.cif_key
2481 1317 (SELECT
2482 1316 INNER JOIN
2483 1315 FROM prd_vr_datalake.vr_102_109_mart_dpk dpk
2484 1314 , CASE WHEN TRIM(dpk.as_of_date) BETWEEN '20211201' AND '20211231' THEN avg(cur_book_bal_idr) ELSE 0 END as avg_bal_des
2485 1313 , CASE WHEN TRIM(dpk.as_of_date) BETWEEN '20211101' AND '20211130' THEN avg(cur_book_bal_idr) ELSE 0 END as avg_bal_nov
2486 1312 , CASE WHEN TRIM(dpk.as_of_date) BETWEEN '20211001' AND '20211031' THEN avg(cur_book_bal_idr) ELSE 0 END as avg_bal_okt
2487 1311 , dpk.as_of_date
2488 1310 , dpk.id_number
2489 1309 dpk.cif_key
2490 1308 (SELECT
2491 1307 FROM
2492 1306 , sum(avg_bal_okt) avg_bal_okt
2493 1305 , id_number
2494 1304 cif_key
2516 1282 df = pd.read_sql(q_ekspansi_col,conn)
2517 1281 ;"""
2518 1280 order by 3,4,5,1
2519 1279 and (as_of_date > '20220000') and (as_of_date < '2022{('0'+str(datetime.now().month))[-2:]}00')
2520 1278 id_number in (select * from id_kelolaan)
2521 1277 where
2522 1276 from prd_vr_datalake.vr_102_105_mart_loan
2523 1275 -- count(*) -- kemaren 17 juta belom filter RM BCM palembang
2524 1274 as_of_date, acct_open_date, rm_code, cif_key, id_number, branch_code, commitment_bal_idr, loan_principal_idr, worst_collectibility, collectibility-- AS KOL_REKENING
2525 1273 select
2526 1272 )
2527 1271 WHERE region = '3')
2528 1270 FROM prd_vr_datalake.vr_134_130_branch
2529 1269 CAST(branch_code AS INT)
2530 1268 (SELECT
2531 1267 and branch_code in
2532 1266 ) -- tujuannya buat masukin baris2 di mana id_numbernya sama tapi rm_codenya beda, buat memunkingkan komponen ekspansi tambahan saat perpindahan rm
2533 1265 {str(lst_rm_str)[1:-1]}
2534 1264 (
2535 1263 where trim(rm_code) in
2536 1262 from prd_vr_datalake.vr_102_105_mart_loan
2537 1261 (select id_number
2539 1259 use_ssl=False, kerberos_service_name='impala')
2540 1258 port=21051, auth_mechanism='GSSAPI',
2541 1257 conn = connect(host='bdprdedge01.bni.co.id',
2542 1256 from impala.util import as_pandas
3050 748 BCA
3051 747 NO REG = 5260750722
3052 746 Nama = ALFU LIMANTARA
3308 490 Tancyuuu
3309 489 Berhubung hari minggu kita ktemu, monggo kalo mentemen mau tes juga.
3310 488 Ini lg tunggu hasil PCR.
3417 381 Nanti invoice PCRnya difoto & disimpen ya buat reimburse (siapa tau diminta invoice fisik)
3418 380 Temen kita terkonfirmasi *positif kopit dari hasil PCR*, hasil PCRnya baru keluar jam 11.00 tadi. Jadi, besok kita semua WFH dan harus tes PCR (kenapa besok? Karena terhitung 5 hari setelah kontak erat)
3435 363 tengkyuu
3436 362 sebelum test, gausah kemana2 dulu yaa.. pake masker trs..
3437 361 kecuali kl sblm Rabu kalian ada gejala, maka bisa lgsg test aja..
3438 360 cfm. tim ETF, kalian nti cek swab/PCR H+5 dari kontak terakhir ya, jd Rabu tgl 2 Feb ya test-nya..
3478 320 Pecel lele 25 ke Ama
3784 14 salam sehat!
3785 13 Setiap like sangat berarti bagi kamiüòä üòä üòä
3786 12 4. LIKE!
3787 11 3. Buka link post: https://www.linkedin.com/posts/activity-6837203217588330496-xORO
3788 10 2. Klik ‚ÄúAttend‚Äù
3789 9 1. Buka page event: https://www.linkedin.com/events/schlumbergerdelfidatasciencehac6762206077720383488/
3790 8 Gini joo:

108

In [5]:
print(len(df[df[0]=='|was addition|']),'messages was deleted to be merged with the nearest initial message')
df=df[df[0]!='|was addition|']

108 messages was deleted to be merged with the nearest initial message

ambil komponen

In [6]:
start,end = '] ',': '
df['sender']=df[0].apply(lambda x: x[x.find(start)+len(start):x.find(end)])
df['date']=df[0].str[1:19].str.strip().str.strip('[').str.strip(']').str[:8]
df['date']=pd.to_datetime(df['date'], dayfirst=True)
df['time']=df[0].str[1:19].str.strip().str.strip('[').str.strip(']').str[9:]
df['time']=pd.to_datetime(df['time'],format= '%H.%M.%S' ).dt.time
df['message']=df[0].apply(lambda x: x[x.find(': ')+len(': '):])
df

C:\Users\BNI\AppData\Local\Temp\ipykernel_1048\4120937632.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sender']=df[0].apply(lambda x: x[x.find(start)+len(start):x.find(end)])
C:\Users\BNI\AppData\Local\Temp\ipykernel_1048\4120937632.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date']=df[0].str[1:19].str.strip().str.strip('[').str.strip(']').str[:8]
C:\Users\BNI\AppData\Local\Temp\ipykernel_1048\4120937632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date']=pd.to_datetime(df['date'], dayfirst=True)
C:\Users\BNI\AppData\Local\Temp\ipykernel_1048\4120937632.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time']=df[0].str[1:19].str.strip().str.strip('[').str.strip(']').str[9:]
C:\Users\BNI\AppData\Local\Temp\ipykernel_1048\4120937632.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time']=pd.to_datetime(df['time'],format= '%H.%M.%S' ).dt.time
C:\Users\BNI\AppData\Local\Temp\ipykernel_1048\4120937632.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['message']=df[0].apply(lambda x: x[x.find(': ')+len(': '):])

,0,sender,date,time,message
0,[05/08/21 15.08.36] halodek nightingle: thanks...,halodek nightingle,2021-08-05,15:08:36,thanks winüëç
1,[05/08/21 15.10.05] atwin: yoo,atwin,2021-08-05,15:10:05,yoo
2,[01/09/21 18.04.04] atwin: iya flo dari homecr...,atwin,2021-09-01,18:04:04,iya flo dari homecredit wkkwkw
3,[01/09/21 18.10.19] halodek nightingle: Gils üòÇ,halodek nightingle,2021-09-01,18:10:19,Gils üòÇ
4,[12/09/21 17.06.43] atwin: flooo,atwin,2021-09-12,17:06:43,flooo
...,...,...,...,...,...
3794,[27/03/23 15.30.57] halodek nightingle: Ini be...,halodek nightingle,2023-03-27,15:30:57,Ini beda mei kan??üòÖüòÖ
3795,[28/03/23 06.51.22] atwin: bedaa,atwin,2023-03-28,06:51:22,bedaa
3796,[28/03/23 06.51.24] atwin: gym nga,atwin,2023-03-28,06:51:24,gym nga
3797,[28/03/23 07.59.45] halodek nightingle: Baru b...,halodek nightingle,2023-03-28,07:59:45,Baru bgn gue
3798,[28/03/23 19.55.25] halodek nightingle: win ch...,halodek nightingle,2023-03-28,19:55:25,win chat nanda sana

cek validasi sender

In [ ]:
df[(df['sender']!='kameg') & (df['sender']!='atwin')]

In [ ]:
df[(df['date']>'2022-10-07') & (df['date']<'2022-10-09')].head(50)

export main

In [ ]:
# df.to_csv('main.csv',index=False)
df.to_excel('main.xlsx',index=False)

In [ ]:
df2=df.copy()
df['out']=1
df2['out']=0
time=df.append(df2)[['out','time']].reset_index(drop=1)
time.to_excel('time.xlsx',index=False)
time

words freq (wordcloud)

In [ ]:
for _ in df.message:

In [ ]:
df['sender'][10]

#### reply time

curating new dataframe that only contains first message of each reply 'batch' from a sender

In [ ]:
df=df.reset_index(drop=True)

df_first_text=pd.DataFrame()
# lst_ft=[]
for i,row in df.iterrows():
    if i > 0:
        if row['sender'] == df['sender'][i-1]:
            continue
#         print(df.iloc[1],row)
        df_first_text=df_first_text.append(row)
#         df_first_text=pd.concat([df_first_text,df.iloc[i]],axis=0) #outer, axis 0

time difference between replies 'batch'

In [ ]:
df_first_text['datetime']=pd.to_datetime(df_first_text['date'].astype(str) + ' ' + df_first_text['time'].astype(str))
df_first_text['time diff']=df_first_text['datetime'].diff()

filtering only messages where a conversation is replied within 1 day (reasonable duration for a message to be replied in an engaging conversation)

In [ ]:
# df_first_text['time diff'].time()#astype(str)
df_first_text['reply time (m)']=df_first_text['time diff'].dt.total_seconds()/60
print('before:',len(df_first_text))
#filter yang dibales lebih dari sehari
df_first_text=df_first_text[df_first_text['reply time (m)']<1440]
print('after:',len(df_first_text))

output

In [ ]:
df_first_text.to_excel('reply_time.xlsx',index=False)

In [ ]:
cek
# start=23
# df[df[0].str[start:start+9]=='gabriella']
# df[(df[0].str[8:9]=='m') ]
# df[(df[0].str[14]=='M') & (df[0].str[0]=='[')]